# coding: utf-8

"""
    Metacore IoT Object Storage API

    Metacore Object Storage - IOT Core Services  # noqa: E501

    OpenAPI spec version: 1.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from metacore_api_python_cli.api_client import ApiClient


class MeasurablesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def deletemeasurables_item(self, measurables_id, if_match, **kwargs):  # noqa: E501
        """Deletes a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deletemeasurables_item(measurables_id, if_match, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str measurables_id: (required)
        :param str if_match: Current value of the _etag field (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deletemeasurables_item_with_http_info(measurables_id, if_match, **kwargs)  # noqa: E501
        else:
            (data) = self.deletemeasurables_item_with_http_info(measurables_id, if_match, **kwargs)  # noqa: E501
            return data

    def deletemeasurables_item_with_http_info(self, measurables_id, if_match, **kwargs):  # noqa: E501
        """Deletes a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deletemeasurables_item_with_http_info(measurables_id, if_match, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str measurables_id: (required)
        :param str if_match: Current value of the _etag field (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['measurables_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deletemeasurables_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'measurables_id' is set
        if ('measurables_id' not in params or
                params['measurables_id'] is None):
            raise ValueError("Missing the required parameter `measurables_id` when calling `deletemeasurables_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `deletemeasurables_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'measurables_id' in params:
            path_params['measurablesId'] = params['measurables_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables/{measurablesId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def getmeasurables(self, **kwargs):  # noqa: E501
        """Retrieves one or more measurables  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getmeasurables(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str where: the filters query parameter (ex.: {\"number\": 10})
        :param str sort: the sort query parameter (ex.: \"city,-lastname\")
        :param int page: the pages query parameter
        :param int max_results: the max results query parameter
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.getmeasurables_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.getmeasurables_with_http_info(**kwargs)  # noqa: E501
            return data

    def getmeasurables_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more measurables  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getmeasurables_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str where: the filters query parameter (ex.: {\"number\": 10})
        :param str sort: the sort query parameter (ex.: \"city,-lastname\")
        :param int page: the pages query parameter
        :param int max_results: the max results query parameter
        :return: InlineResponse2004
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['where', 'sort', 'page', 'max_results']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getmeasurables" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'where' in params:
            query_params.append(('where', params['where']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('max_results', params['max_results']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2004',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def getmeasurables_item(self, measurables_id, **kwargs):  # noqa: E501
        """Retrieves a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getmeasurables_item(measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str measurables_id: (required)
        :return: Measurables
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.getmeasurables_item_with_http_info(measurables_id, **kwargs)  # noqa: E501
        else:
            (data) = self.getmeasurables_item_with_http_info(measurables_id, **kwargs)  # noqa: E501
            return data

    def getmeasurables_item_with_http_info(self, measurables_id, **kwargs):  # noqa: E501
        """Retrieves a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getmeasurables_item_with_http_info(measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str measurables_id: (required)
        :return: Measurables
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['measurables_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getmeasurables_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'measurables_id' is set
        if ('measurables_id' not in params or
                params['measurables_id'] is None):
            raise ValueError("Missing the required parameter `measurables_id` when calling `getmeasurables_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'measurables_id' in params:
            path_params['measurablesId'] = params['measurables_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables/{measurablesId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Measurables',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patchmeasurables_item(self, body, if_match, measurables_id, **kwargs):  # noqa: E501
        """Updates a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patchmeasurables_item(body, if_match, measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str measurables_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patchmeasurables_item_with_http_info(body, if_match, measurables_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patchmeasurables_item_with_http_info(body, if_match, measurables_id, **kwargs)  # noqa: E501
            return data

    def patchmeasurables_item_with_http_info(self, body, if_match, measurables_id, **kwargs):  # noqa: E501
        """Updates a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patchmeasurables_item_with_http_info(body, if_match, measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str measurables_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'if_match', 'measurables_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patchmeasurables_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patchmeasurables_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `patchmeasurables_item`")  # noqa: E501
        # verify the required parameter 'measurables_id' is set
        if ('measurables_id' not in params or
                params['measurables_id'] is None):
            raise ValueError("Missing the required parameter `measurables_id` when calling `patchmeasurables_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'measurables_id' in params:
            path_params['measurablesId'] = params['measurables_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables/{measurablesId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def postmeasurables(self, body, **kwargs):  # noqa: E501
        """Stores one or more measurables.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.postmeasurables(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.postmeasurables_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.postmeasurables_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def postmeasurables_with_http_info(self, body, **kwargs):  # noqa: E501
        """Stores one or more measurables.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.postmeasurables_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postmeasurables" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `postmeasurables`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def putmeasurables_item(self, body, if_match, measurables_id, **kwargs):  # noqa: E501
        """Replaces a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.putmeasurables_item(body, if_match, measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str measurables_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.putmeasurables_item_with_http_info(body, if_match, measurables_id, **kwargs)  # noqa: E501
        else:
            (data) = self.putmeasurables_item_with_http_info(body, if_match, measurables_id, **kwargs)  # noqa: E501
            return data

    def putmeasurables_item_with_http_info(self, body, if_match, measurables_id, **kwargs):  # noqa: E501
        """Replaces a measurables document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.putmeasurables_item_with_http_info(body, if_match, measurables_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param Measurables body: A measurables or list of measurables documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str measurables_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'if_match', 'measurables_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method putmeasurables_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `putmeasurables_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `putmeasurables_item`")  # noqa: E501
        # verify the required parameter 'measurables_id' is set
        if ('measurables_id' not in params or
                params['measurables_id'] is None):
            raise ValueError("Missing the required parameter `measurables_id` when calling `putmeasurables_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'measurables_id' in params:
            path_params['measurablesId'] = params['measurables_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/measurables/{measurablesId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
