# coding: utf-8

"""
    Metacore IoT Object Storage API

    Metacore Object Storage - IOT Core Services  # noqa: E501

    OpenAPI spec version: 0.2
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class LoraserverCoreApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def deleteloraserver_core_item(self, loraserver_core_id, if_match, **kwargs):  # noqa: E501
        """Deletes a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deleteloraserver_core_item(loraserver_core_id, if_match, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str loraserver_core_id: (required)
        :param str if_match: Current value of the _etag field (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deleteloraserver_core_item_with_http_info(loraserver_core_id, if_match, **kwargs)  # noqa: E501
        else:
            (data) = self.deleteloraserver_core_item_with_http_info(loraserver_core_id, if_match, **kwargs)  # noqa: E501
            return data

    def deleteloraserver_core_item_with_http_info(self, loraserver_core_id, if_match, **kwargs):  # noqa: E501
        """Deletes a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deleteloraserver_core_item_with_http_info(loraserver_core_id, if_match, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str loraserver_core_id: (required)
        :param str if_match: Current value of the _etag field (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['loraserver_core_id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deleteloraserver_core_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'loraserver_core_id' is set
        if ('loraserver_core_id' not in params or
                params['loraserver_core_id'] is None):
            raise ValueError("Missing the required parameter `loraserver_core_id` when calling `deleteloraserver_core_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `deleteloraserver_core_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'loraserver_core_id' in params:
            path_params['loraserver-coreId'] = params['loraserver_core_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core/{loraserver-coreId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def getloraserver_core(self, **kwargs):  # noqa: E501
        """Retrieves one or more loraserver_core  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getloraserver_core(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str where: the filters query parameter (ex.: {\"number\": 10})
        :param str sort: the sort query parameter (ex.: \"city,-lastname\")
        :param int page: the pages query parameter
        :param int max_results: the max results query parameter
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.getloraserver_core_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.getloraserver_core_with_http_info(**kwargs)  # noqa: E501
            return data

    def getloraserver_core_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves one or more loraserver_core  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getloraserver_core_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str where: the filters query parameter (ex.: {\"number\": 10})
        :param str sort: the sort query parameter (ex.: \"city,-lastname\")
        :param int page: the pages query parameter
        :param int max_results: the max results query parameter
        :return: InlineResponse2003
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['where', 'sort', 'page', 'max_results']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getloraserver_core" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'where' in params:
            query_params.append(('where', params['where']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501
        if 'max_results' in params:
            query_params.append(('max_results', params['max_results']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2003',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def getloraserver_core_item(self, loraserver_core_id, **kwargs):  # noqa: E501
        """Retrieves a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getloraserver_core_item(loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str loraserver_core_id: (required)
        :return: LoraserverCore
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.getloraserver_core_item_with_http_info(loraserver_core_id, **kwargs)  # noqa: E501
        else:
            (data) = self.getloraserver_core_item_with_http_info(loraserver_core_id, **kwargs)  # noqa: E501
            return data

    def getloraserver_core_item_with_http_info(self, loraserver_core_id, **kwargs):  # noqa: E501
        """Retrieves a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.getloraserver_core_item_with_http_info(loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str loraserver_core_id: (required)
        :return: LoraserverCore
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['loraserver_core_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getloraserver_core_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'loraserver_core_id' is set
        if ('loraserver_core_id' not in params or
                params['loraserver_core_id'] is None):
            raise ValueError("Missing the required parameter `loraserver_core_id` when calling `getloraserver_core_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'loraserver_core_id' in params:
            path_params['loraserver-coreId'] = params['loraserver_core_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core/{loraserver-coreId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LoraserverCore',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def patchloraserver_core_item(self, body, if_match, loraserver_core_id, **kwargs):  # noqa: E501
        """Updates a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patchloraserver_core_item(body, if_match, loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str loraserver_core_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.patchloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, **kwargs)  # noqa: E501
        else:
            (data) = self.patchloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, **kwargs)  # noqa: E501
            return data

    def patchloraserver_core_item_with_http_info(self, body, if_match, loraserver_core_id, **kwargs):  # noqa: E501
        """Updates a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.patchloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str loraserver_core_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'if_match', 'loraserver_core_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method patchloraserver_core_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `patchloraserver_core_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `patchloraserver_core_item`")  # noqa: E501
        # verify the required parameter 'loraserver_core_id' is set
        if ('loraserver_core_id' not in params or
                params['loraserver_core_id'] is None):
            raise ValueError("Missing the required parameter `loraserver_core_id` when calling `patchloraserver_core_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'loraserver_core_id' in params:
            path_params['loraserver-coreId'] = params['loraserver_core_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core/{loraserver-coreId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def postloraserver_core(self, body, **kwargs):  # noqa: E501
        """Stores one or more loraserver_core.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.postloraserver_core(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.postloraserver_core_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.postloraserver_core_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def postloraserver_core_with_http_info(self, body, **kwargs):  # noqa: E501
        """Stores one or more loraserver_core.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.postloraserver_core_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postloraserver_core" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `postloraserver_core`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def putloraserver_core_item(self, body, if_match, loraserver_core_id, **kwargs):  # noqa: E501
        """Replaces a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.putloraserver_core_item(body, if_match, loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str loraserver_core_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.putloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, **kwargs)  # noqa: E501
        else:
            (data) = self.putloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, **kwargs)  # noqa: E501
            return data

    def putloraserver_core_item_with_http_info(self, body, if_match, loraserver_core_id, **kwargs):  # noqa: E501
        """Replaces a loraserver-core document  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.putloraserver_core_item_with_http_info(body, if_match, loraserver_core_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LoraserverCore body: A loraserver-core or list of loraserver-core documents (required)
        :param str if_match: Current value of the _etag field (required)
        :param str loraserver_core_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'if_match', 'loraserver_core_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method putloraserver_core_item" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `putloraserver_core_item`")  # noqa: E501
        # verify the required parameter 'if_match' is set
        if ('if_match' not in params or
                params['if_match'] is None):
            raise ValueError("Missing the required parameter `if_match` when calling `putloraserver_core_item`")  # noqa: E501
        # verify the required parameter 'loraserver_core_id' is set
        if ('loraserver_core_id' not in params or
                params['loraserver_core_id'] is None):
            raise ValueError("Missing the required parameter `loraserver_core_id` when calling `putloraserver_core_item`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'loraserver_core_id' in params:
            path_params['loraserver-coreId'] = params['loraserver_core_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/loraserver_core/{loraserver-coreId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
